<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Kripto Takip</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Kripto Takip</h1>
    <input id="coin" placeholder="bitcoin">
    <select id="currency">
        <option value="usd">$ USD</option>
        <option value="try">₺ TRY</option>
        <option value="usdt">₮ USDT</option>
    </select>
    <select id="days">
        <option value="1">1 Gün</option>
        <option value="7" selected>7 Gün</option>
        <option value="14">14 Gün</option>
        <option value="30">30 Gün</option>
    </select>
    <button onclick="getCoin()">Göster</button>
    <h2 id="price"></h2>
    <img id="logo" src="" alt="" width="64">
    <canvas id="chart" height="100"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
